{{#partial "content"}}
    <h1>Hero squad list</h1>
    <h4> Add our hero to the squad!!</h4>
    <form action ="/add/new" method="Post">
        <label for ="content">Details</label>
        <input id ="content" name ="content" type="text">

        <button type="submit" class="btn btn-primary">submit</button>
    </form>
{{/partial}}

{{>layout .hbs}}