{{#partial "content"}}
<h1>Hero squad list</h1>

{{#if adds}}
    {{#each adds}}
        <p>Current hero:</p>
        <p>{{content}}</p>
    {{/each}}
{{else}}
    <P></P>
{{/if}}
<h4> Add our hero to the squad!!</h4>
<form action ="/add/new" method="Post">
    <label for ="content">Name</label>
    <input id ="content" name ="content" type="text">
    <label for="age" >Age </label>
    <input id="age" name ="age " type="number">


    <button type="submit" class="btn btn-primary">submit</button>
</form>
{{/partial}}

{{>layout.hbs}}