{{#partial "content"}}
<h4> Add our hero to the squad!!</h4>
<form action ="/post" method="Post">
    <label for ="name">Name</label>
    <input id ="name" name ="name" type="text">
    <label for="age" >Age </label>
    <input id="age" name ="age" type="text">
    <label for="powers" >Super power</label>
    <input id="powers" name="powers" type="text">
    <label for="Weakness" >Weakness</label>
    <input id="weakness" name="weakness" type="text">
    <label for ="size">size</label>
    <input id ="size" name ="size" type="number">
    <label for="squad">Squad name</label>
    <input id="squad" name ="squad" type="text">
    <label for="mission">Mission</label>
    <input id="mission" name="mission" type="text">

    <button type="submit" class="btn btn-primary">submit</button>
</form>
{{/partial}}
{{>layout.hbs}}