{{#partial "content"}}
<h4> Add our hero to the squad!!</h4>
<form action ="/post" method="post">
    <label for ="name">Name</label>
    <input id ="name" name ="name" type="text">
    <label for="age" >Age </label>
    <input id="age" name ="age " type="number">
    <label for="powers" >Super power</label>
    <input id="powers" name="powers" type="text">
    <label for="Weakness" >Weakness</label>
    <input id="weakness" name="weakness" type="text">

    <button type="submit" class="btn btn-primary">submit</button>
</form>
{{/partial}}
{{>layout.hbs}}